<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./static/css/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/universal.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/PFPUpload.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/forms.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title><%= type %></title>
  </head>
  <body>
    <a><%= result %></a><a href="<%= url %>"><%= urlText %></a>
  </body>
</html>
