<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/universal.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/PFPUpload.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/forms.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Account Dashboard</title>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/logout" class="logout">Log out</a>
    </div>
    <br />
    <div class="panelFormParent panelForm centered">
      <br />
      <h1 class="username">
        Welcome back,<br /><b style="color: rgb(191, 197, 255)"
          ><%= playerName %></b
        >
      </h1>
      <div class="centered pfpHolder">
        <br />
        <img
          class="pfp right"
          width="200"
          height="200"
          src="/images/users/<%= playerId %>"
        />
      </div>

      <br />
      <br />
      <div class="panelForm centered changeInfoBox">
        <br />
        <h2>Change Password</h2>
        <form action="/dashboard/changePassword" method="POST">
          <label for="oldPassword">Old Password:</label><br />
          <input
            minlength="5"
            maxlength="50"
            type="password"
            id="oldPassword"
            name="oldPassword"
            value=""
            placeholder="Enter Your Old Password"
            required
          /><br /><br />
          <label for="newPassword">New Password:</label><br />
          <input
            minlength="5"
            maxlength="50"
            type="password"
            id="newPassword"
            name="newPassword"
            value=""
            placeholder="Enter Your New Password"
            required
          /><br /><br />
          <input type="submit" value="Change" />
          <input type="reset" value="Reset Fields" />
        </form>
      </div>

      <br />
      <div class="panelForm centered changeInfoBox">
        <br />
        <h2>Change Email</h2>
        <form action="/dashboard/changeEmail" method="POST">
          <label for="newEmail">New Email:</label><br />
          <input
            type="email"
            id="newEmail"
            name="newEmail"
            value="<%= email %>"
            placeholder="Enter Your Email"
            required
          /><br /><br />
          <input type="submit" value="Change" />
          <input type="reset" value="Reset Field" />
        </form>
      </div>

      <br />
      <div class="panelForm centered changeInfoBox">
        <br />
        <h2>Change PFP</h2>
        <form
          action="/dashboard/changePFP"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="pfpUpload">
            <input
              class="form-control form-control-lg"
              id="formFileLg"
              name="image"
              type="file"
              accept="image/png, image/jpeg"
              required
            />
          </div>
          <br />
          <input type="submit" value="Upload" />
        </form>
      </div>
      <br />
    </div>
    <br />
  </body>
</html>
