<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/static/images/IconNoBG.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/css/login.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/universal.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/forms.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Forgot <%= info %></title>
  </head>
  <body>
    <div class="panelFormParent centerBoth">
      <br />
      <h1 class="centered">Forgot <%= info %></h1>
      <br />
      <% if (info == "Username") { %>
      <form class="panelForm centered" action="/forgotUsername" method="POST">
        <input
          type="email"
          id="email"
          minlength="1"
          maxlength="320"
          name="email"
          value=""
          placeholder="Enter Your Email"
          required
        />
        <br />
        <% if (error != undefined) { %>
        <br />
        <a class="error"><%= error %></a>
        <br />
        <% } %>
        <br />
        <a style="text-decoration: none" href="/login">
          <input type="button" value="Go Back" />
        </a>
        <input type="submit" value="Send" />
      </form>
      <% }else if (info == "Password"){ %>
      <form class="panelForm centered" action="/forgotPassword" method="POST">
        <input
          type="email"
          minlength="1"
          maxlength="320"
          id="email"
          name="email"
          value=""
          placeholder="Enter Your Email"
          required
        />
        <br />
        <% if (error != undefined) { %>
        <br />
        <br />
        <a class="error"><%= error %></a>
        <br />
        <% }else { %>
        <br />
        <% } %>
        <a style="text-decoration: none" href="/login">
          <input type="button" value="Go Back" />
        </a>
        <input type="submit" value="Send" />
      </form>
      <% } %>
      <br />
    </div>
  </body>
</html>
